**.ini
**.pth
!weights/FSC147.pth
**__pycache__
.idea/
/data/*
!/data/foring00025.png
!/data/letsea_14/annotations_few.json
!/data/letsea_14/annotations_zero.json
!/data/letsea_14/split.json
/logs/
/wandb/
*.pth
/pretrained_models/
*.jpg
*.out
*.pyth
saved_tokens/
saved_models/
data/
checkpoints/
examplar_tokens/
gt_density_maps/
gt_density_maps_recreated/
exemplar_tokens/
predictions/
plots/
*/*.npz
*.zip
countix_density_maps/
repcount_density_maps/
exemplar_tokens_reencoded/
saved_tokens_reencoded/
saved_models_new/
saved_models_fulldata/
saved_models_countix/
saved_models_randomness/
saved_models_randomness_new/
saved_models_randomness_lowcounts/
saved_models_randomness_batchsize8/
saved_models_repcountfull/
saved_models_subset/
saved_models_nonormalizationbycounts/
*/*.pyth
countix/
countix_full/
node_modules
selected_videos/
QUVARepetitionDataset.tar.gz
QUVARepetitionDataset/
results/
pytorchvideo
