av==10.0.0
einops==0.3.2
numpy
opencv-python==4.8.1.78
pandas
-e git+https://github.com/facebookresearch/pytorchvideo.git@fae0d89a194a2c1ca99e59eab6eedd40bde38726#egg=pytorchvideo
torch==1.10.0+cu111
torchvision==0.11.0+cu111
tqdm==4.59.0